/**
 * _footer.scss
 */

/*
Footer
 */
.site-footer {}

/*
Sticky Footer
 */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1 1 auto;
}