/**
 * _global.scss
 */

/*
Global
 */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: $text-color;
  @include font-smoothing(on);
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  overflow-x: hidden;
}

/*
Top-Level
 */
.site {
  background-color: white;
}
.site-content {
  padding: 1.75rem 0;

  @include break-sm {
    padding: 2rem 0;
  }
  @include break-md {
    padding: 2.25rem 0;
  }
}

/*
Elements
 */
a {
  text-decoration: none;
  @include link-color;
  @include animate(color);

  &:focus {
    outline: thin dotted $border-color;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}
b, strong {
  font-weight: $bold-font-weight;
}

/*
Forms
 */
label {
  @extend .label;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"] {
  @extend .input;
}
select {
  @extend .select;
}
textarea {
  @extend .textarea;
}

/*
Buttons
 */
button,
input[type="button"],
input[type="submit"] {
  @extend .btn, .btn-primary;
}
