/**
 * _variables.scss
 */

 /*
 Typography
  */
 /* Variables */
 // font stacks: https://www.cssfontstack.com
 $sans-serif: 'Source Sans Pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
 $serif: Georgia, Times, 'Times New Roman', serif;

 /* Definitions */
 $body-font: $sans-serif;
 $heading-font: $serif;

 /* Sizes */
 // base sizes
 $xs-font-size: 15px !default;
 $md-font-size: 16px !default;
 $lg-font-size: 17px !default;

 // buttons
 $btn-font-size: 0.9375rem;
 $btn-font-size--small: 0.875rem;

 // headlines
 $h1: 2.074rem;
 $h2: 1.728rem;
 $h3: 1.44rem;
 $h4: 1.2rem;

 // small + large
 $small: 0.833em;
 $large: 1.125rem;

 /* Line Height */
 $body-line-height: 1.45;

 /* Weights */
 $bold-font-weight: 700;
 $normal-font-weight: 400;
 $light-font-weight: 300;

/*
Colors
 */
// brand color map function
@function brand-color($key: 'blue') {
  @return map-get($brand-colors, $key);
}

/* Variables */
$brand-colors: (
  'blue': #0058BF,
  'gray-dark': #333333,
  'gray-light': #CCCCCC,
);

/* Definitions */
// text colors
$text-color: brand-color('gray-dark');
$link-color: brand-color('blue');
$heading-color: $text-color;

// element colors
$button-color: $link-color;
$border-color: brand-color('gray-light');

// social colors
$facebook: #415696;
$twitter: #4FA6DD;

/*
Breakpoints
 */
$break-xs: 35rem; // 560px
$break-sm: 48rem; // 768px
$break-md: 62rem; // 992px
$break-lg: 75rem; // 1200px
$break-xl: 90rem; // 1440px

// grid gutter width
$gutter-width: 1rem !default;

/*
Margins
 */
$margin-p: 1.3rem;
