/**
 * _variables.scss
 */

/*
Typography
 */
/* Variables */
$sans-serif: 'Libre Franklin', sans-serif;
$serif: Georgia, serif;

/* Definitions */
$body-font: $sans-serif;
$heading-font: $sans-serif;

/* Sizes */
$xs-font-size: 14px !default;
$sm-font-size: 15px !default;
$lg-font-size: 16px !default;

$btn-font-size: 0.9375rem;
$body-line-height: 1.45;

/* Weights */
$bold-font-weight: 600;
$normal-font-weight: 400;
$light-font-weight: 300;

/*
Colors
 */
// brand color map function
@function brand-color($key: 'blue') {
  @return map-get($brand-colors, $key);
}

/* Variables */
$brand-colors: (
  'blue': #0058BF,
  'gray-dark': #333333,
  'gray-light': #CCCCCC,
);

/* Definitions */
// text colors
$text-color: brand-color('gray-dark');
$link-color: brand-color('blue');
$heading-color: $text-color;

// element colors
$button-color: $link-color;
$border-color: brand-color('gray-light');

// social colors
$facebook: #415696;
$twitter: #4FA6DD;

/*
Breakpoints
 */
$break-xs: 35rem;
$break-sm: 48rem;
$break-md: 62rem;
$break-lg: 75rem;
$break-xl: 90rem;

// grid gutter width
$gutter-width: 1rem !default;

/*
Margins
 */
$margin-p: 1.3rem;
